<!-- Start Header-Section -->
<section class="header-section listing">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="title-section pull-left">
          <%= t('menu.booking') %>
        </h3>
      </div>
    </div>
  </div>
</section>
<!-- End Header-Section -->

<section id="listing">
  <div class="container">
    <div class="row">
    <div class="booking" style="padding: 20px; background: rgba(240,240,240,0.8);">
    <% if I18n.locale == :en %>
        <iframe title="Dynamic Packaging Bulgaria" id="kitt-iframe" src="#" data-url="https://dpb.kittbg.com/public/online-booking/search/hotel?apiKey=9545fedb-5a03-11e4-88d7-448a5ba02513&languageId=1&hotel=1208&form_target=_self" style="width: 100%;min-height: 450px; overflow-x: hidden;border: none;"><a href="https://travelfinder.bg/" title="Dynamic Packaging Bulgaria" target="_blank">Dynamic Packaging Bulgaria</a></iframe>
        <script type="application/ld+json">{"@context": "https://schema.org","@type": "Product","description": "","name": "Dynamic Packaging Bulgaria","url": "https://travelfinder.bg/","image": "https://travelfinder.bg/travelfinder_logo.png"}</script>
        <script src="https://dpb.kittbg.com/public/js/dpb.js"></script>
    <% elsif I18n.locale == :bg %>
        <iframe title="Dynamic Packaging Bulgaria" id="kitt-iframe" src="#" data-url="https://dpb.kittbg.com/public/online-booking/search/hotel?apiKey=9545fedb-5a03-11e4-88d7-448a5ba02513&languageId=3&hotel=1208&form_target=_self" style="width: 100%;min-height: 450px; overflow-x: hidden;border: none;"><a href="https://travelfinder.bg/" title="Dynamic Packaging Bulgaria" target="_blank">Dynamic Packaging Bulgaria</a></iframe>
        <script type="application/ld+json">{"@context": "https://schema.org","@type": "Product","description": "","name": "Dynamic Packaging Bulgaria","url": "https://travelfinder.bg/","image": "https://travelfinder.bg/travelfinder_logo.png"}</script>
        <script src="https://dpb.kittbg.com/public/js/dpb.js"></script>
    <% end %>
    </div>
    </div>
    </section>