<!-- Start Header-Section -->
<section class="header-section listing">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="title-section pull-left">
          <%= t('menu.cookie') %>
        </h3>
      </div>
    </div>
  </div>
</section>
<!-- End Header-Section -->

<section class="about">
    <div class="container">
        <div class="row">
            <div class="preamble stars col-md-12">
                <div class="text-left">
                    <h2>Политика за употреба на бисквитки</h2>
                    <p><strong>Какво представлява бисквитката (cookie)?</strong><br />Бисквитката ("cookie") е файл, съдържащ ограничен набор от текстова информация, която даден уеб сайт прехвърля от уеб браузъра на твърдия диск на Вашето устройство временно, докато трае посещението Ви, или за по-дълъг период, в зависимост от вида бисквитка. Функцията на бисквитките е да Ви разграничат от останалите потребители на същия уеб сайт или да запазят определена информация, свързана с Вашите предпочитания и се използват от повечето сайтове, за да улеснят Вашето сърфиране. Всяка бисквитка е уникална за Вашия браузър и съдържа анонимна информация. Обикновено съдържанието включва наименованието на домейна, от която идва, "продължителността на живот" на бисквитката и стойност, обикновено под формата на произволно генериран номер.<span class="Apple-converted-space">&nbsp;</span></p>
                    <p><strong>Какви видове бисквитки използваме и защо?</strong><br />Сайтовете на &bdquo;Джи Ви Ви&rdquo;АД<span class="Apple-converted-space">&nbsp; </span>използват следните видове бисквитки според тяхното предназначение:<span class="Apple-converted-space">&nbsp;</span></p>
                    <p>Сигурност и идентифициране</p>
                    <p>Употребяват се за улесняване потребителите на онлайн резервационната система на &bdquo;Джи Ви Ви&rdquo;АД . Този вид бисквитки се създава при влизане на потребителя в неговия профил. Целта им е да разпознаят потребителя в рамките на конкретната сесия, да контролират сигурността на връзката и да гарантират, че информацията, която потребителя въвежда, се вижда единствено от него. Бисквитките за сигурност и идентифициране се изтриват автоматично след прекратяване на сесията на Вашия браузър и ли се пазят за ограничено време с цел осигуряване на безпрепятствена работа със сайта. Важно е да се отбележи, че тези, както и останалите видове бисквитки на сайта, не съхраняват въведените лични данни.<span class="Apple-converted-space">&nbsp;</span></p>
                    <p>Посещаемост на сайта</p>
                    <p>Посредством тези бисквитки се събира статистическа информация относно трафика на сайта, включваща броя посещения, времето за престой, популярността на отделните страници, последователността на разглеждане, повторните посещения и момента на излизане от сайта. Това ни позволява да проследим успеваемостта на нашите продукти и кампании, както и ефективността на представянето им на сайта. Анализирайки данните, достигаме до решения за подобряване на продуктовото ни портфолио и потребителското преживяване на сайта.<span class="Apple-converted-space">&nbsp;</span></p>
                    <p>Предпочитани настройки</p>
                    <p>Тук спадат бисквитките за запазване на информация относно избор на езикова версия, местоположение и настройки на дисплея според вида на устройството, от което достъпвате уеб сайта. Целта е да не се налага отново избирате настройки, които вече сте потвърдили или отхвърлили при предишно посещение на сайта или в текущата сесия, като така се осигурява максимално удобство посещение на сайта.<span class="Apple-converted-space">&nbsp;</span></p>
                    <p>Потребителско поведение</p>
                    <p>Тази категория бисквитки съхранява информация за направените от Вас решения като потребител. Те включват запазване на стойности при попълване на анкети и история на Вашите предпочитания и заявки спрямо предлаганите от нас продукти и услуги. Така се избягва необходимостта от повторно въвеждане на данни и селекции с цел Ваше улеснение.<span class="Apple-converted-space">&nbsp;</span></p>
                    <p>Маркетинг и реклама</p>
                    <p>Тези бисквитки правят възможно персонализирането на рекламните послания на сайта, както и измерването ефективността на рекламите и промоционалните кампании. Те често се поставят от външни рекламни мрежи при предварително утвърдени условия. Рекламните бисквитки служат за съобразяването на реклами и маркетингови кампании с Вашите предпочитания. Те спомагат за това, да виждате само послания, които наистина ви интересуват, както и да не попадате на една и съща реклама всеки път, когато посетите сайта ни.<span class="Apple-converted-space">&nbsp;</span></p>
                    <p><strong>Деактивиране на бисквитки</strong><br />Ако не желаете да приемате бисквитки, можете да ги деактивирате от настройките на използвания от Вас браузър. За повече информация, посетете официалния сайт на производителя на вашия браузер. Имайте предвид, че деактивирането на "бисквитките" може да доведе до нарушения във функционалността на сайта и до спиране работата на онлайн резервационната система на &bdquo;Джи Ви Ви&rdquo;АД .<span class="Apple-converted-space">&nbsp;</span></p>
                    <p>&nbsp;</p>
                    <%= link_to t('menu.privacy'), privacy_path, style: "color: rgb(80,150,180)" %>
                </div>
            </div>
        </div>
    </div>
</section>