





<section id="banner">

    <div class="banner-bg">
      <div class="banner-bg-item"><%= image_tag("hotel_pool.jpg") %></div>
      <div class="banner-bg-item"><%= image_tag("resort.jpg") %></div>
      <div class="banner-bg-item"><%= image_tag("suite_home.jpg") %></div>
      <div class="banner-bg-item"><%= image_tag("pools_spa.jpg") %></div>
    </div>

</section>


