<!-- Start Header-Section -->
<section class="header-section listing">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="title-section pull-left">
          <%= t('menu.privacy') %>
        </h3>
      </div>
    </div>
  </div>
</section>
<!-- End Header-Section -->

<section class="about">
    <div class="container">
        <div class="row">
            <div class="preamble stars col-md-12">
                <div class="text-left">
                    <h2>Политика за защита на личните данни на &bdquo;ДЖИ ВИ ВИ&rdquo; АД</h2>
                    <p>&nbsp;</p>
                    <p>&nbsp;<strong>&rdquo;ДЖИ ВИ ВИ&rdquo; АД </strong>(наричано по-долу &bdquo;ДЖИ ВИ ВИ&rdquo; АД), седалище гр. Варна, КК &bdquo;Златни пясъци&rdquo; хотел &bdquo;Перуника&rdquo;, вписано в Търговския регистър с ЕИК 103776469, регистрирано по ЗЗДС с BG107567068, Електронна поща: info@perunika.com; Адрес за контакт &ndash; Варна, КК&rdquo; Златни пясъци&rdquo;, хотел &bdquo;Перуника&rdquo;</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;В качеството си на администратор на лични данни, има въведена вътрешна система за съхранение и обработване на личните данни съобразена с изискванията на Регламент (ЕС) 2016/679 от 27 април 2016.</p>
                    <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;Моля, прочете внимателно Политиката на &bdquo;ДЖИ ВИ ВИ&rdquo; АД за защита на личните данни, преди да ползвате услугите ни.&nbsp;&nbsp;&nbsp;&nbsp;Предоставянето на лични данни на сайта </strong><a href="http://www.hotelarenamar.com"><strong>www.hotelarenamar.com</strong></a><strong> или в офисите на &bdquo;ДЖИ ВИ ВИ&rdquo; АД е напълно доброволно.&nbsp;<br />&nbsp;&nbsp;&nbsp;&nbsp;Важно е да Ви информираме, че:</strong></p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Услугите предлагани от &bdquo;ДЖИ ВИ ВИ&rdquo; АД са предназначени само за пълнолетни лица навършили 18 год. Резервации и други услуги НЕ се предоставят от &bdquo;ДЖИ ВИ ВИ&rdquo; АД на непълнолетни лица.</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&rdquo;ДЖИ ВИ ВИ&rdquo; АД се ангажира да запази конфиденциалността на информацията за Вашите лични данни. Искаме да подчертаем, че информацията събрана за Вас е насочена само за вътрешна употреба.</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Съхраняваме предоставената от Вас информация в обезопасена софтуерна среда.</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&rdquo;ДЖИ ВИ ВИ&rdquo; АД НЕ събира данни за кредитни карти и други платежни инструменти!</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Регистрирайки се на сайта ни, се съгласявате с Политиката и изрично потвърждавате, че я приемате.</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Попълвайки заявка за оферта/резервация през формите на нашите сайтове или изпращайки ни доброволно email, Вие изрично се съгласявате &bdquo;ДЖИ ВИ ВИ&rdquo; АД като администратор, да обработва предоставените от Вас лични данни в съответствие с нормативната уредба за защита на личните данни.</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Защо събираме данните Ви?</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Използвайки уеб сайтовете ни, сървърите ни съхраняват данни за посетените от Вас страници, оферти и ценови предложения, датата на посещение, IP-адреса и други оперативни данни, с цел на първо място сигурност и защита от потенциални атаки. Тази информация е максимално анонимизирана и не е свързана с физическо лице.</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Всички други лични данни като имена, телефон, email, адреси и т.н., се съхраняват само след изрично и информирано съгласие от страна на ползвателя на услугите ни, т.е. самите Вас.</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Личните данни се събират в минимален обем преследвайки интереса ни да осъществим продажбата на качествена и конкурентна туристическа услуга. В някои случаи използваме бисквитки (cookies) <%= link_to t('menu.cookie'), cookiepolicy_path, style: "color: rgb(80,150,180)" %>. Бисквитките, които използваме не съдържат лични данни.</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;В някои случаи Вашето изрично съгласие за обработване на лични данни може и да не е нужно, ако е налично друго правно основание (договор, подзаконов акт, наредба или други законови задължения).</p>
                    <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;Какви лични данни обработваме и от кого?</strong></p>
                    <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;Посетители на сайтовете собственост на &bdquo;ДЖИ ВИ ВИ&rdquo; АД</strong></p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Посетител е всяко лице заредило сайтовете на &bdquo;ДЖИ ВИ ВИ&rdquo; АД в уеб браузъра си.</p>
                    <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;Категории лични данни събирани от &bdquo;ДЖИ ВИ ВИ&rdquo; АД:</strong></p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Статистически: IP address, посетени страници, разгледани обекти и оферти, идентификатори съхранени в &bdquo;бисквитки&ldquo; локално при потребителя, информация за браузъра/операционната система.</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Персонални: Лични данни събирани след изрично съгласие на потребителя като име, фамилия, имейл, адрес, които администратора използва за връзка с потребителя, както и за персонализиране на предоставената оферта след запитване.</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Цел на обработването: Статистическите данни се използват за нормално функциониране на сайтовете собственост на &bdquo;ДЖИ ВИ ВИ&rdquo; АД. Персоналните данни се използват за осигуряване на необходимите условия, за предоставяне на определена услуга.</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Срок на съхранение: &bdquo;Бисквитки&ldquo; на всичките ни сайтове са с максимална валидност от 1 година. Личните данни предоставени след съгласие на потребителя се пазят 10 години, освен ако друг нормативен акт не изисква друго.</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Правно основание за обработването:&nbsp;Съгласие с Политика за бисквитки и Условия за ползване на сайта. Информирано съгласие.</p>
                    <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;Емейл абонати&nbsp;&ndash; </strong><a href="http://www.hotelarenamar.com"><strong>www.hotelarenamar.com</strong></a> Тип на личните данни обект на обработка - email.</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Цел на обработката &ndash; създава се бюлетин съдържащ списък от абонати доброволно и информирано предоставили електронната си поща, с цел получаване на специални оферти, намаления и ексклузивни акции и игри от страна на &bdquo;ДЖИ ВИ ВИ&rdquo; АД. Бюлетина генериран от &bdquo;ДЖИ ВИ ВИ&rdquo; АД, не използва посредници или външни доставчици на услуга за генериране на бюлетини.</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Срок на съхранение на пощенския адрес: до 6 месеца след прекратяване на абонамента от страна на потребителя или от страна на &bdquo;ДЖИ ВИ ВИ&rdquo; АД.</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Правно основание за обработването:&nbsp;Съгласие за включване в списък с получатели (абониране за e-mail бюлетин).</p>
                    <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;Потребители</strong></p>
                    <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;Клиенти, които са се регистрирали в сайта<span class="Apple-converted-space">&nbsp; </span></strong><a href="http://www.hotelarenamar.com"><strong>www.hotelarenamar.com</strong></a><strong><span class="Apple-converted-space">&nbsp;</span></strong></p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Категории данни които се обработват: Имена, e-mail, телефон, адрес.</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Цели на обработването: улесняване на пускането на заявки и осъществяване на резервации от страна на потребителя. Автоматично попълване на формите за запитвания, както и допълнителна функционалност по абонамент за определени обекти и оферти от списък с избрани такива.</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Срок на съхранение: до 10 години.</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Правно основание за обработване: Информирано съгласие, легитимен интерес.</p>
                    <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;Потребители попълващи заявка или запитване за резервация (не е нужна регистрация в сайта </strong><a href="http://www.hotelarenamar.com"><strong>www.hotelarenamar.com</strong></a><strong>)</strong></p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Категории данни, които се обработват: Имена, e-mail, телефон, възраст на всички туристи пътуващи с потребителя.</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Цели на обработването: Изготвяне на максимално конкретна и подходяща оферта за конкретната заявка подадена от клиента, с цел последваща продажба на туристическа услуга. Маркетингови цели.</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Срок на съхранение: 10 години</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Правно основание за обработването: Информирано съгласие. Легитимен интерес.</p>
                    <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;Клиенти на &bdquo;ДЖИ ВИ ВИ&rdquo; АД, на които се предоставя услуга по Закона за Туризма</strong><br />&nbsp;&nbsp;&nbsp;&nbsp;Категории данни, които могат да бъдат обработвани:&nbsp;Имена, e-mail, телефон, адрес, номера на лични карти и паспорти, ЕГН, пълни данни и декларации на децата пътуващи с Вас.</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Цели на обработването:&nbsp;Сключване на договор за Организирано пътуване или договор за туристически пакети и свързани туристически услуги, както и хотелско настаняване. Включване в програма за лоялни клиенти.</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Срок за съхранение:&nbsp; 10 години</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Правно основание за обработването:&nbsp;Изпълнение на договор; Закона за Туризма, Закона за счетоводството, Съгласие с Общите условия за пътуване и др. законови наредби. Информирано съгласие. Легитимен интерес.</p>
                    <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;Хотелиери, Туристически агенции и други контрагенти на &bdquo;ДЖИ ВИ ВИ&rdquo; АД</strong><br />&nbsp;&nbsp;&nbsp;&nbsp;Категории данни, които могат да бъдат обработвани:&nbsp;Имена, ЕИК, Адрес, Телефонен номер, e-mail и др.</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Цели на обработването:&nbsp;Създаване и поддържане на търговски взаимоотношения между &bdquo;ДЖИ ВИ ВИ&rdquo; АД и контрагентите, Сключване на договори, Бизнес комуникация.</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Срок за съхранение:&nbsp;10 години след прекратяване на правоотношението.</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Правно основание за обработването:&nbsp;Изпълнение на договор.</p>
                    <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;Кой друг може да получи данните Ви?</strong></p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&rdquo;ДЖИ ВИ ВИ&rdquo; АД при никакви обстоятелства няма да предостави личните Ви данни на трети лица освен ако:</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- има изрично съгласие от ваша страна;</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- има изискване за предоставяне на информация от легитимни контролни органи или длъжностни лица, които според действащото законодателство, имат право да изискват и събират такава информация и търговецът е задължен да предостави тази информация по силата на закона;</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Информацията се предоставя на трети лица при нужда, за изпълнението на услуга при сключен договор между клиента и &bdquo;ДЖИ ВИ ВИ&rdquo; АД - хотелиери и ресторантьори, лица предоставящи услуги в сертифицирани туристически обекти, туроператори или туристически агенти, лицензирани застрахователи, лицензирани превозвачи, екскурзоводи и други оператори на услуги, които се изпълняват като част от туристически пакет или представляват отделна услуга за изпълнение. &bdquo;ДЖИ ВИ ВИ&rdquo; АД извършва своята дейност, като се сключват договори само с контрагенти в рамките на Европейския съюз.</p>
                    <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;Какви са Вашите права?</strong></p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;При поискване имате право да получите информация относно събраните за Вас лични данни. Имате право по всяко време да откажете Вашите лични данни да бъдат събирани и обработвани, а също така да поискате да бъдат коригирани, изтрити (&bdquo;право да бъдеш забравен&rdquo;), ограничени или блокирани.</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;За целта изпратете имейл на нашия Отговорник за защита на личните данни на: info@perunika.com</p>
                    <p><span class="Apple-converted-space">&nbsp; &nbsp; &nbsp; </span>Във връзка с предоставеното право на изтриване &bdquo;ДЖИ ВИ ВИ&rdquo; АД Ви уведомява, че след получаване на изявление от Вас и в случай, че не съществува законово основание, което задължава &bdquo;ДЖИ ВИ ВИ&rdquo; АД да продължи да съхранява и/или обработва Вашите лични данни, ще извършим действия по заличаването им в най-кратък срок, но не по-късно от 14 дни, считано от датата на получаване на изявление в посочения смисъл.</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Ако използвате бюлетин по всяко време можете да се откажете от него, като използвате опциите за отказ предоставени в края на всеки бюлетин.</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Упражняването на тези права подлежи на определени изключения, за да се защити общественият интерес (например, предотвратяването или разкриването на престъпления) или да се защитят нашите интереси (например, запазването на законните привилегии). Ако упражнявате някое от тези права, ние ще проверим Вашето право да ги упражнявате и ще отговорим без ненужно забавяне, но не по-късно от един месец. При по- сложни случаи или по време на получаване на многобройни искания, този период може да бъде удължен с още два месеца, за което ще Ви информираме.</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Ако не сте удовлетворени от използването на Вашата информация или от нашия отговор при упражняване на тези права, имате право да подадете жалба до Комисия за защита на личните данни или компетентните съдилища, като имат право да подадат жалба, в която да изложат своите оплаквания.</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&rdquo;ДЖИ ВИ ВИ&rdquo; АД не носи отговорност за обработването на лични данни на сайтове, към които нашите сайтове имат външни препратки.</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Ако не желаете да обработваме личните Ви данни по начините описани в този документ сте в правото си да не ни ги предоставяте. Предоставянето на лични данни е напълно доброволно и с цел пълноценно функциониране на нашите сайтове и предоставяне на качествена услуга на клиента от &bdquo;ДЖИ ВИ ВИ&rdquo; АД. Отказът Ви от предоставяне на лични данни означава отказ от услугите ни предоставяни от сайтовете ни и отказ от използване услугите на &bdquo;ДЖИ ВИ ВИ&rdquo; АД.</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Настоящата Политика е неразделна част и допълва Политиката за употреба на бисквитки и условията за Ползване на сайта <a href="http://www.hotelarenamar.com"><strong>www.hotelarenamar.com</strong></a></p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Всички евентуални бъдещи промени в настоящата Политика ще бъдат публикувани на тази страница.</p>
                    <p>&nbsp;</p>
                    <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;Съгласявайки се с нашата Политика Вие изрично давате съгласието си да обработваме Вашите лични данни.</strong></p>
                    <br/>
                    <br/>
                    <br/>
                    <%= link_to t('menu.cookie'), cookiepolicy_path, style: "color: rgb(80,150,180)" %>
                </div>
            </div>
        </div>
    </div>
</section>