<!-- Start Header-Section -->
<section class="header-section listing">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="title-section pull-left">
          Ресторанти и барове
        </h3>
      </div>
    </div>
  </div>
</section>
<!-- End Header-Section -->

<section class="about">
    <div class="container">
      <div class="row">
	      	<div class="preamble stars col-md-12">
		        <h3>Ресторанти и Барове</h3>
		        <div class="restaurants">
		        	<ul>
		        		<li><h5>Арена Мар основен ресторант</h5></li>
		        		<li><h5>Арена Мар а-ла карт ресторант</h5></li>
		        		<li><h5>Лоби бар</h5><p>освежаващи коктейли, безалкохолни напитки, български алкохолни напитки, наливна бира, топли напитки</p></li>
		        		<li><h5>Бар басейн</h5><p>освежаващи коктейли, безалкохолни напитки, български алкохолни напитки, наливна бира, топли напитки</p></li>
		        	</ul>
		        </div>
      		</div>
  		</div>
	</div>
</section>