<!-- Start Header-Section -->
<section class="header-section listing">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="title-section pull-left">
          Ресторанти и барове
        </h3>
      </div>
    </div>
  </div>
</section>
<!-- End Header-Section -->

<section class="about">
    <div class="container">
      <div class="row">
	      	<div class="preamble stars col-md-12">
		        <h3>Ресторанти и Барове</h3>
		        <div class="restaurants">
		        	<ul>
		        		<li><h5>Арена Мар основен ресторант</h5></li>
		        		<li><h5>Арена Мар а-ла карт ресторант</h5></li>
		        		<li><h5>Лоби бар</h5><p>освежаващи коктейли, безалкохолни напитки, български алкохолни напитки, наливна бира, топли напитки</p></li>
		        		<li><h5>Бар басейн</h5><p>освежаващи коктейли, безалкохолни напитки, български алкохолни напитки, наливна бира, топли напитки</p></li>
		        	</ul>
		        </div>
      		</div>
  		</div>
	</div>
</section>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72755983-3', 'auto');
  ga('send', 'pageview');

</script>