<!-- Start Header-Section -->
<section class="header-section listing">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="title-section pull-left">
          УСЛУГИ
        </h3>
        <% if false %>
        <ul class="breadcrumbs custom-list list-inline pull-right">
          <li><a href="#">Home</a></li>
          <li><a href="#">Search Result</a></li>
        </ul>
        <% end %>
      </div>
    </div>
  </div>
</section>
<!-- End Header-Section -->

<!-- Start Supertabs -->
  <section class="supertabs">
    <div class="container">
      <div class="row">
        
        <!-- Start Tab-Navigation -->
        <div class="col-md-4 tab-navigation">
          <ul class="custom-list">
            <li class="active">
              <a data-toggle="tab" href="#spa">
                <h5 class="title">СПА И УЕЛНЕС</h5>
                
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#sport">
                <h5 class="title">СПОРТ</h5>
                
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#entertainment">
                <h5 class="title">РАЗВЛЕЧЕНИЕ</h5>
                
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#seminars">
                <h5 class="title">СЕМИНАРИ И КОНФЕРЕНЦИИ</h5>
                
              </a>
            </li>
          </ul>
        </div>
        <!-- End Tab-Navigation -->

        <!-- Start Tab-Content -->
        <div class="col-md-8 tab-content">
          <div id="spa" class="tab-pane fade in active">
            <%= image_tag("supertabs-3.jpg") %>
            <header>
              <h5 class="title">СПА И УЕЛНЕС</h5>
              <h6 class="subtitle">Спа и уелнес</h6>
            </header>
            <p></p>
          </div>
          <div id="sport" class="tab-pane fade">
            <%= image_tag("supertabs-3.jpg") %>
            <header>
              <h5 class="title">СПОРТ</h5>
              <h6 class="subtitle">Спорт</h6>
            </header>
            <p></p>
          </div>
          <div id="entertainment" class="tab-pane fade">
            <%= image_tag("supertabs-3.jpg") %>
            <header>
              <h5 class="title">РАЗВЛЕЧЕНИЕ</h5>
              <h6 class="subtitle">Развлечение</h6>
            </header>
            <p></p>
          </div>
          <div id="seminars" class="tab-pane fade">
            <%= image_tag("supertabs.jpg") %>
            <header>
              <h5 class="title">СЕМИНАРИ И КОНФЕРЕНЦИИ</h5>
              <h6 class="subtitle">Семинари и конференции</h6>
            </header>
            <p></p>
          </div>
        </div>
        <!-- End Tab-Content -->

      </div>
    </div>
  </section>
  <!-- End Supertabs -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72755983-3', 'auto');
  ga('send', 'pageview');

</script>