<!-- Start Header-Section -->
<section class="header-section listing">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="title-section pull-left">
          УСЛУГИ
        </h3>
        <% if false %>
        <ul class="breadcrumbs custom-list list-inline pull-right">
          <li><a href="#">Home</a></li>
          <li><a href="#">Search Result</a></li>
        </ul>
        <% end %>
      </div>
    </div>
  </div>
</section>
<!-- End Header-Section -->

<!-- Start Supertabs -->
  <section class="supertabs">
    <div class="container">
      <div class="row">
        
        <!-- Start Tab-Navigation -->
        <div class="col-md-4 tab-navigation">
          <ul class="custom-list">
            <li class="active">
              <a data-toggle="tab" href="#spa">
                <h5 class="title">СПА И УЕЛНЕС</h5>
                
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#sport">
                <h5 class="title">СПОРТ</h5>
                
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#entertainment">
                <h5 class="title">РАЗВЛЕЧЕНИЕ</h5>
                
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#seminars">
                <h5 class="title">СЕМИНАРИ И КОНФЕРЕНЦИИ</h5>
                
              </a>
            </li>
          </ul>
        </div>
        <!-- End Tab-Navigation -->

        <!-- Start Tab-Content -->
        <div class="col-md-8 tab-content">
          <div id="spa" class="tab-pane fade in active">
            <%= image_tag("supertabs-3.jpg") %>
            <header>
              <h5 class="title">СПА И УЕЛНЕС</h5>
              <h6 class="subtitle">Спа и уелнес</h6>
            </header>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae a aut consequatur similique tempora excepturi iusto provident eum quam aperiam id est, voluptas recusandae quisquam, pariatur rerum tempore atque illo!</p>
          </div>
          <div id="sport" class="tab-pane fade">
            <%= image_tag("supertabs-3.jpg") %>
            <header>
              <h5 class="title">СПОРТ</h5>
              <h6 class="subtitle">Спорт</h6>
            </header>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae a aut consequatur similique tempora excepturi iusto provident eum quam aperiam id est, voluptas recusandae quisquam, pariatur rerum tempore atque illo!</p>
          </div>
          <div id="entertainment" class="tab-pane fade">
            <%= image_tag("supertabs-3.jpg") %>
            <header>
              <h5 class="title">РАЗВЛЕЧЕНИЕ</h5>
              <h6 class="subtitle">Развлечение</h6>
            </header>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae a aut consequatur similique tempora excepturi iusto provident eum quam aperiam id est, voluptas recusandae quisquam, pariatur rerum tempore atque illo!</p>
          </div>
          <div id="seminars" class="tab-pane fade">
            <%= image_tag("supertabs.jpg") %>
            <header>
              <h5 class="title">СЕМИНАРИ И КОНФЕРЕНЦИИ</h5>
              <h6 class="subtitle">Семинари и конференции</h6>
            </header>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae a aut consequatur similique tempora excepturi iusto provident eum quam aperiam id est, voluptas recusandae quisquam, pariatur rerum tempore atque illo!</p>
          </div>
        </div>
        <!-- End Tab-Content -->

      </div>
    </div>
  </section>
  <!-- End Supertabs -->