<!-- Start Header-Section -->
<section class="header-section listing">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="title-section pull-left">
          Специални Оферти
        </h3>
      </div>
    </div>
  </div>
</section>
<!-- End Header-Section -->

<section class="about">
    <div class="container">
      <div class="row">
	      	<div class="preamble stars col-md-12">
		        <h3>Специални Оферти</h3>
            <p>Свалете офертите в PDF:</p>
            <hr/>
            <ul class="list-unstyled list-offers">
              <li><a href="https://drive.google.com/uc?export=download&id=0B_X_WXowNUKia1pid2xBTXRoRlU">Великденски празници</a></li><hr/>
            </ul>
      		</div>
  		</div>
	</div>
</section>