<!-- Start Header-Section -->
<section class="header-section listing">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="title-section pull-left">
          Специални Оферти
        </h3>
      </div>
    </div>
  </div>
</section>
<!-- End Header-Section -->

<section class="about">
    <div class="container">
      <div class="row">
	      	<div class="preamble stars col-md-12">
		        <h3>Специални Оферти</h3>
		        <br/>
		        <p>В момента няма специални оферти, за повече информация се свържете с нас на посочените телефони по-долу.</p>
      		</div>
  		</div>
	</div>
</section>