<!-- Start Header-Section -->
<section class="header-section listing">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="title-section pull-left">
          <%= t("menu.pricing") %>
        </h3>
      </div>
    </div>
  </div>
</section>
<!-- End Header-Section -->

<section class="about">
    <div class="container">
      <div class="row">

        <% if I18n.locale == :en %>

          <div class="preamble stars col-md-12">
            <h3>Pricelist</h3>
            <p>Download pricelist in PDF:</p>
            <hr/>
            <ul class="list-unstyled list-offers">
              <% if false %>
              <li><a href="#">New pricelist coming soon</a></li><hr/>
              <% end %>
              <li><a href="https://drive.google.com/uc?export=download&id=1jlm_yC7950ot3R2TqbnWgnrPzvfOFxj1">Pricelist season 2019-2020</a></li><hr/>
            </ul>
          </div>
	      	<div class="preamble stars col-md-12">
		        <h3>Special Offers</h3>
            <p>Download special offers in PDF:</p>
            <hr/>
            <ul class="list-unstyled list-offers">
              <li><a href="https://drive.google.com/uc?export=download&id=1XOc44STzWuMuMamFppLORqsfjMC6SyEj">8th of December Student Holidays 2019</a></li><hr/>
              <li><a href="https://drive.google.com/uc?export=download&id=1ZGe0WC42xtmmlev9NAwwgPHSa14NcKBR">Corporate Party 2019</a></li><hr/>
              <li><a href="https://drive.google.com/uc?export=download&id=1OKfHacVUkesSA3vwPWyLqD1M1mp8xfRU">Christmas Holidays 2019</a></li><hr/>
              <% if false %><li><a href="https://drive.google.com/uc?export=download&id=1igtvjcibfTN0BOsXcE4zbwMx6QS_9k1w">New Year Holidays 2018-2019</a></li><hr/><% end %>
            </ul>
          </div>

        <% elsif I18n.locale == :bg %>

          <div class="preamble stars col-md-12">
            <h3>Ценоразпис</h3>
            <p>Свалете ценоразпис в PDF:</p>
            <hr/>
            <ul class="list-unstyled list-offers">
              <% if false %>
              <li><a href="#">Очаквайте нов ценоразпис скоро</a></li><hr/>
              <% end %>
              <li><a href="https://drive.google.com/uc?export=download&id=1jlm_yC7950ot3R2TqbnWgnrPzvfOFxj1">Ценоразпис сезон 2019-2020</a></li><hr/>
            </ul>
          </div>
          <div class="preamble stars col-md-12">
            <h3>Специални Оферти</h3>
            <p>Свалете офертите в PDF:</p>
            <hr/>
            <ul class="list-unstyled list-offers">
            <li><a href="https://drive.google.com/uc?export=download&id=1XOc44STzWuMuMamFppLORqsfjMC6SyEj">Студентски празник (8-ми Декември) 2019</a></li><hr/>
            <li><a href="https://drive.google.com/uc?export=download&id=1ZGe0WC42xtmmlev9NAwwgPHSa14NcKBR">Фирмено парти 2019</a></li><hr/>
            <li><a href="https://drive.google.com/uc?export=download&id=1OKfHacVUkesSA3vwPWyLqD1M1mp8xfRU">Коледни празници 2019</a></li><hr/>
            <% if false %><li><a href="https://drive.google.com/uc?export=download&id=1igtvjcibfTN0BOsXcE4zbwMx6QS_9k1w">Новогодишни празници 2018-2019</a></li><hr/><% end %>
            </ul>
          </div>

        <% end %>

  		</div>
	</div>
</section>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72755983-3', 'auto');
  ga('send', 'pageview');

</script>