<!-- Start Header-Section -->
<section class="header-section listing">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="title-section pull-left">
          <%= t("menu.pricing") %>
        </h3>
      </div>
    </div>
  </div>
</section>
<!-- End Header-Section -->

<section class="about">
    <div class="container">
      <div class="row">

        <% if I18n.locale == :en %>

          <div class="preamble stars col-md-12">
            <h3>Pricelist</h3>
            <p>Download pricelist in PDF:</p>
            <hr/>
            <ul class="list-unstyled list-offers">
              <li><a href="https://drive.google.com/uc?export=download&id=0B_X_WXowNUKiWldaWU5sYlZUZ0k">Pricelist season 2016 (EUR)</a></li><hr/>
            </ul>
          </div>
	      	<div class="preamble stars col-md-12">
		        <h3>Special Offers</h3>
            <p>Download special offers in PDF:</p>
            <hr/>
            <ul class="list-unstyled list-offers">
              <li><a href="https://drive.google.com/uc?export=download&id=0B_X_WXowNUKiYXE4YlpsZDl1Vm8">8-ми Декември 2016</a></li><hr/>
              <li><a href="https://drive.google.com/uc?export=download&id=0B_X_WXowNUKiWmtVWDNkQ0NULUE">8-ми Декември 2016 - Меню</a></li><hr/>
              <li><a href="https://drive.google.com/uc?export=download&id=0B_X_WXowNUKiTXpqQTBwTmIwLUU">Фирмено парти 2016</a></li><hr/>
              <li><a href="https://drive.google.com/uc?export=download&id=0B_X_WXowNUKiTmpVQlhQcHZxRTQ">Новогодишни празници 2016-2017</a></li><hr/>
              <li><a href="https://drive.google.com/uc?export=download&id=0B_X_WXowNUKiZmtMb3FPS2JtMHc">Абитуриентски балове 2017</a></li><hr/>
            </ul>
      		</div>

        <% elsif I18n.locale == :bg %>

          <div class="preamble stars col-md-12">
            <h3>Ценоразпис</h3>
            <p>Свалете ценоразпис в PDF:</p>
            <hr/>
            <ul class="list-unstyled list-offers">
              <li><a href="https://drive.google.com/uc?export=download&id=0B_X_WXowNUKiUHBBT0xoX1RCRm8">Ценоразпис сезон 2016 (BGN)</a></li><hr/>
              <li><a href="https://drive.google.com/uc?export=download&id=0B_X_WXowNUKiWldaWU5sYlZUZ0k">Pricelist season 2016 (EUR)</a></li><hr/>
            </ul>
          </div>
          <div class="preamble stars col-md-12">
            <h3>Специални Оферти</h3>
            <p>Свалете офертите в PDF:</p>
            <hr/>
            <ul class="list-unstyled list-offers">
              <li><a href="https://drive.google.com/uc?export=download&id=0B_X_WXowNUKiYXE4YlpsZDl1Vm8">8-ми Декември 2016</a></li><hr/>
              <li><a href="https://drive.google.com/uc?export=download&id=0B_X_WXowNUKiWmtVWDNkQ0NULUE">8-ми Декември 2016 - Меню</a></li><hr/>
              <li><a href="https://drive.google.com/uc?export=download&id=0B_X_WXowNUKiTXpqQTBwTmIwLUU">Фирмено парти 2016</a></li><hr/>
              <li><a href="https://drive.google.com/uc?export=download&id=0B_X_WXowNUKiTmpVQlhQcHZxRTQ">Новогодишни празници 2016-2017</a></li><hr/>
              <li><a href="https://drive.google.com/uc?export=download&id=0B_X_WXowNUKiZmtMb3FPS2JtMHc">Абитуриентски балове 2017</a></li><hr/>
            </ul>
          </div>

        <% end %>

  		</div>
	</div>
</section>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72755983-3', 'auto');
  ga('send', 'pageview');

</script>