/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor: image-url("grabbing.png") 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

#owl-demo {
	padding: 50px 0 10px 0;
}

#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}

.customNavigation{
  text-align: center;
}

.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  padding: 15px;
  margin: 10px;
  border: 1px solid rgb(170,170,170);
  border-radius: 5px;
  color: rgb(170,170,170);
}

@media (min-width: 992px) {
	.owl-margin {
	  	margin-top: 570px;
	}
}

#owl-demo .image {
	min-height: 350px;
	min-width: 350px;
	background-size: cover;
	background-position: center;

	&.room1 {
		background: image-url('room1.jpg');
	}
	&.room2 {
		background: image-url('room2.jpg');
	}
	&.room3 {
		background: image-url('room3.jpg');
	}


	&.food1 {
		background: image-url('food1.jpg');
	}
	&.food2 {
		background: image-url('food2.jpg');
	}
	&.food3 {
		background: image-url('food3.jpg');
	}
	&.food4 {
		background: image-url('food4.jpg');
	}
	&.food6 {
		background: image-url('food6.jpg');
	}
	&.food7 {
		background: image-url('food7.jpg');
	}
	&.food8 {
		background: image-url('food8.jpg');
	}
	&.food9 {
		background: image-url('food9.jpg');
	}
	&.food10 {
		background: image-url('food10.jpg');
	}
	&.food11 {
		background: image-url('food11.jpg');
	}
	&.food12 {
		background: image-url('food12.jpg');
	}
	&.food13 {
		background: image-url('food13.jpg');
	}
	&.food14 {
		background: image-url('food14.jpg');
	}
	&.food15 {
		background: image-url('food15.jpg');
	}


	&.service1 {
		background: image-url('service1.jpg');
	}
	&.service2 {
		background: image-url('service2.jpg');
	}
	&.service3 {
		background: image-url('service3.jpg');
	}
	&.service4 {
		background: image-url('service4.jpg');
	}
	&.service5 {
		background: image-url('service5.jpg');
	}
	&.service6 {
		background: image-url('service6.jpg');
	}
	&.service7 {
		background: image-url('service7.jpg');
	}
	&.service8 {
		background: image-url('service8.jpg');
	}
	&.service9 {
		background: image-url('service9.jpg');
	}
	&.service10 {
		background: image-url('service10.jpg');
	}
	&.service11 {
		background: image-url('service11.jpg');
	}
	&.service12 {
		background: image-url('service12.jpg');
	}
	&.service13 {
		background: image-url('service13.jpg');
	}
	&.service14 {
		background: image-url('service14.jpg');
	}
	&.service15 {
		background: image-url('service15.jpg');
	}
	&.service16 {
		background: image-url('service16.jpg');
	}
	&.service17 {
		background: image-url('service17.jpg');
	}
	&.service18 {
		background: image-url('service18.jpg');
	}
	&.service19 {
		background: image-url('service19.jpg');
	}
	&.service20 {
		background: image-url('service20.jpg');
	}
	&.service21 {
		background: image-url('service21.jpg');
	}

}

#banner .image {
	height: 100%;
	
	background-size: cover !important;
	background-position: center;
	background-repeat: no-repeat;

	&.intro1 {
		background: image-url('intro1.jpg');
	}
	&.intro2 {
		background: image-url('intro2.jpg');
	}
	&.intro3 {
		background: image-url('intro3.jpg');
	}
	&.intro4 {
		background: image-url('intro4.jpg');
	}
	&.intro5 {
		background: image-url('intro5.jpg');
	}
	&.intro6 {
		background: image-url('intro6.jpg');
	}
	&.intro7 {
		background: image-url('intro7.jpg');
	}
	&.intro8 {
		background: image-url('intro8.jpg');
	}
	&.intro9 {
		background: image-url('intro9.jpg');
	}
}




